/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 100;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		top: -50px;
		left: 50%;
		margin-left: -440px;
		width: 800px;
		background: #eee url(modal-gloss.png) no-repeat -200px -80px;
		position: absolute;
		z-index: 101;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		color: #000;
		text-align: left;
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
	    -moz-column-count: 3; /* Firefox */
	    column-count: 3;
	    column-rule: 1px solid #ccc;
	    column-width: auto;
	    -webkit-column-width: auto;
	    -moz-column-width: auto;
	    -webkit-column-rule: 1px solid #ccc;
	    vertical-align: top;
		}

		.reveal-modal-maps {
			visibility: hidden;
			top: -50px;
			left: 50%;
			margin-left: -440px;
			width: 800px;
			background: #eee url(modal-gloss.png) no-repeat -200px -80px;
			position: absolute;
			z-index: 101;
			padding: 30px 40px 34px;	
			color: #000;
			text-align: left;
		    vertical-align: top;
		    border-radius: 5px;
		}
        .reveal-myModal-time{
           visibility: hidden;
           top: 50px;
           left: 50%;
           margin-left: -170px;
           width: 300px;
           background: #eee;
           position: absolute;
           z-index: 101;
           padding: 30px 40px 34px;
           color: #000;
           text-align: left;
           vertical-align: top;
           border-radius: 5px;
           background: #fff;
           border: 10px solid red;
        }
        .reveal-myModal-sendfriend{
           visibility: hidden;
           top: 50px;
           left: 50%;
           margin-left: -140px;
           width: 240px;
           background: #eee;
           position: absolute;
           z-index: 101;
           padding: 30px 40px 34px;
           color: #000;
           text-align: left;
           vertical-align: top;
           border-radius: 5px;
           background: #fff;
        }
        .reveal-myModal-time-index{
            visibility: hidden;
            top: 50px;
            left: 50%;
            margin-left: -170px;
            width: 300px;
            background: #eee;
            position: absolute;
            z-index: 101;
            padding: 30px 40px 34px;
            color: #000;
            text-align: left;
            vertical-align: top;
            border-radius: 5px;
            background: #fff;
            border: 10px solid red;
        }

		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		bottom: 20px;
		right: 20px;
		color: #fff;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		background: red;
		font-family: tahoma;
		font-size: 15px;
		padding: 10px;
		width: 80px;
		text-align: center;
		border-radius: 3px;
		background: -moz-linear-gradient(#62c362, #53a553);
        background: -webkit-linear-gradient(#62c362, #53a553);
        background: -o-linear-gradient(#62c362, #53a553);
        background: linear-gradient(#62c362, #53a553);
        border: 1px solid #52a552;
        text-decoration: none;
		} 
		  

	.boxMicrodistrict{
		margin: 0;
		padding: 0;
	}
	    .itemMCBox{
	    	vertical-align: top;
	    	height: 25px;
	    }
	    .itemMCBox:hover{
	    	background: #f9ddb5;
	    }
	        .itemMCBox input[type='checkbox']{
	        	width: 15px;
	        	height: 15px;
	        	position: relative;
	        	top: 3px;
	        }

	/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/
